<h1>Sample Scoreboard </h1>
<table id="example" class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <% @columns.each do |column| %>
                  <th><%= column %> </th>
                <% end %>
            </tr>
        </thead>
    </table>




